<!DOCTYPE html>
<html lang="en">
<head>
    <link href="../styles.css" rel="stylesheet">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <script src="https://kit.fontawesome.com/370e61c9c8.js" crossorigin="anonymous"></script>
    <title>Directories</title>
</head>
<body class="page">
<div class="header-wrapper dirs-header-wrapper">
    <div class="header">
        <div class="logo">
            <img src="../media/logo.png" class="logo-image">
            <p class="logo-name">MediaBrowser</p>
        </div>
        <div class="account">
            {% if isAdmin %}
                <a class="nav-link link-none" href="#">Administration</a>
            {% endif %}
            {% if isUser %}
                <a class="nav-link link-none" href="#">My Media</a>
            {% endif %}
            {% if isLogin %}
                <img src="../media/profile_default.png" class="profile-photo">
            {% else %}
                <a class="link-none row" href="http://localhost:5010/login/">
                    <p class="login">Log In</p>
                    <i class="fa-solid fa-arrow-right-to-bracket login-icon"></i>
                </a>
            {% endif %}
        </div>
    </div>
    <div class="utils">
        <div class="path">
            {% forEach path %}
                <a href="http://localhost:5010/users/store?id={?id?}&path={?toPath?}" class="path-link link-none">{?name?}/</a>
            {% endforEach %}
        </div>

        <div class="add">
            <button class="upload-btn" onclick="addFolderVisibility()">
                Add Folder 
                <i class="fa-solid fa-plus"></i>
            </button>
    
            <button class="upload-btn" onclick="uploadImageVisibility()">
                Upload Media 
                <i class="fa-solid fa-arrow-up-from-bracket"></i>
            </button>
        </div>

    </div>
</div>
<div class="dirs-content">

    {% forEach folders %}
        <a href="/users/store?id={?id?}&path={{pathSTR}}>{?name?};{?id?}" class="folder link-none">
            <div class="folder-icon-wrapper">
                <i class="fa-regular fa-folder folder-icon"></i>
            </div>
            <p class="folder-name folder-name">{?name?}</p>
        </a>
    {% endforEach %}

    {% forEach images %}
        <a href="/images/{?id?}" class="folder link-none">
            <div class="img-wrapper">
                <img src="../media/images/{?media?}" class="dirs-img" alt="">
            </div>
            <p class="folder-name folder-name">name</p>
        </a>
    {% endforEach %}
    
    <!-- <div class="add-folder">
        <i class="fa-solid fa-plus"></i>
    </div> -->
</div>
<div class="upload-wrapper hide" id="upload-wrapper">
    <div class="upload hide" id="add-folder">
        <div class="upload-header">
            <p>Add Folder</p>
            <button class="upload-cancel" onclick="addFolderVisibility()">
                <i class="fa-solid fa-xmark"></i>
            </button>
        </div>
        <form class="upload-content login-form" action="/users/store/add-folder?id={{id}}&path={{pathSTR}}" method="POST">
            <!-- <label class="login-lbl" for="nameInput">Name</label> -->
            <input class="login-inp" placeholder="Enter here a name..." id="nameInput" type="text" name="name">
            <input hidden id="parentID" type="text" name="parentID" value="{{id}}">
            <!-- <input hidden id="addFolder1" type="text" name="addFolder" value="1"> -->
            <!-- <input hidden id="uploadImage1" type="text" name="uploadImage" value="0"> -->
            <button class="login-btn">add folder</button>
        </form>
    </div>
    <div class="upload hide" id="upload-img">
        <div class="upload-header">
            <p>Upload Image</p>
            <button class="upload-cancel" onclick="uploadImageVisibility()">
                <i class="fa-solid fa-xmark"></i>
            </button>
        </div>
        <form class="upload-content login-form" enctype="multipart/form-data" action="/users/store/uploadImage?id={{id}}&path={{pathSTR}}" method="POST">
            <!-- <label class="login-lbl" for="nameInput">Name</label> -->
            <div class="dirs-tags">
                {% forEach tags %}
                    <p class="dirs-tag" id="{?id?}">{?name?}</p>
                {% endforEach %}
            </div>
            
            <p class="file-inp" id="file-area">
                <i class="fa-solid fa-image"></i>
                <span class="" id="file-val">Select an image...</span>
            </p>
            <input class="login-inp" placeholder="Enter here a name..." id="nameInput" type="text" name="name">
            <textarea class="textarea-inp" placeholder="Enter here a description..." id="descInput" name="desc"></textarea>
            <div class="checkbox">
                <input id="publishInput" type="checkbox" name="isPublic">
                <p>publish</p>
            </div>
            <input hidden id="fileInput" type="file" name="file">
            <input hidden id="parentID" type="text" name="folderID" value="{{id}}">
            <!-- <input hidden id="addFolder2" type="text" name="addFolder" value="0"> -->
            <!-- <input hidden id="uploadImage2" type="text" name="uploadImage" value="1"> -->
            <input hidden id="img-tags" type="text" name="tags">
            <input hidden id="file-format" type="text" name="format">
            <button class="login-btn">upload image</button>
        </form>
    </div>
</div>
<div class="footer">
    <div class="logo-wrapper">
        <div class="logo">
            <img src="../media/logo.png" class="logo-image">
            <p class="logo-name">MediaBrowser</p>
        </div>
    </div>
    <div class="copy-rights-wrapper">
        <p class="copy-rights">&copy; MediaBrowser 2024. All rights reserved.</p>
    </div>
    <div class="follow-us-wrapper">
        <p class="follow-us">
            follow us |
            <i class="fa-brands fa-square-facebook"></i>
            <i class="fa-brands fa-square-instagram"></i>
            <i class="fa-brands fa-square-x-twitter"></i>
            <i class="fa-brands fa-square-pinterest"></i>
        </p>
    </div>
</div>

<script>
    const upload = document.getElementById("upload-wrapper");
    const addFolder = document.getElementById("add-folder");
    const uploadImage = document.getElementById("upload-img");
    const tags = document.querySelectorAll(".dirs-tag");
    const tagsInput = document.getElementById("img-tags");
    const fileInput = document.getElementById("fileInput");
    const fileArea = document.getElementById("file-area");
    const fileTxt = document.getElementById("file-val");
    const fileFormat = document.getElementById("file-format");

    function uploadVisibility() {
        if (upload.classList.contains("hide")) {
            upload.classList.remove("hide");
            upload.classList.add("show");
        } else {
            upload.classList.remove("show");
            upload.classList.add("hide");
        }
    }

    function addFolderVisibility() {
        uploadVisibility();

        if (addFolder.classList.contains("hide")) {
            addFolder.classList.remove("hide");
            addFolder.classList.add("show");
        } else {
            addFolder.classList.remove("show");
            addFolder.classList.add("hide");
        }
    }

    function uploadImageVisibility() {
        uploadVisibility();

        if (uploadImage.classList.contains("hide")) {
            uploadImage.classList.remove("hide");
            uploadImage.classList.add("show");
        } else {
            uploadImage.classList.remove("show");
            uploadImage.classList.add("hide");
            fileTxt.textContent = "Select an image...";
            fileInput.value = "";
            tags.forEach(tag => {
                if (tag.classList.contains("dirs-tag-active")) {
                    tag.classList.remove("dirs-tag-active");
                } 
            });
            if (fileArea.classList.contains("file-inp-active")) {
                fileArea.classList.remove("file-inp-active");
            } 
        }
    }
    

    tags.forEach(tag => {
        tag.addEventListener("click", (tag) => {
            const tagId = tag.srcElement.id;

            let currentValue = tagsInput.value.trim();
            let idsArray = currentValue ? currentValue.split(";").map(id => id.trim()) : [];

            if (idsArray.includes(tagId)) {
                idsArray = idsArray.filter(id => id !== tagId);
            } else {
                idsArray.push(tagId);
            }
            tagsInput.value = idsArray.join(";");

            if (tag.srcElement.classList.contains("dirs-tag-active")) {
                tag.srcElement.classList.remove("dirs-tag-active");
            } else {
                tag.srcElement.classList.add("dirs-tag-active");
            }
        });
    });

    fileArea.addEventListener("click", () => {
        fileInput.click();
    });

    fileInput.addEventListener("change", () => {
        const value = fileInput.files[0] ? fileInput.files[0].name : "";

        if (value.length) {
            fileTxt.textContent = value;
            fileFormat.value = value.split(".")[1];
            if (!fileArea.classList.contains("file-inp-active")) {
                fileArea.classList.add("file-inp-active");
            } 
        } else {
            fileTxt.textContent = "Select an image...";
            if (fileArea.classList.contains("file-inp-active")) {
                fileArea.classList.remove("file-inp-active");
            } 
        }
    });
</script>
</body>
</html>