<!DOCTYPE html>
<html lang="en">
<head>
    <link href="styles.css" rel="stylesheet">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <script src="https://kit.fontawesome.com/370e61c9c8.js" crossorigin="anonymous"></script>
    <title>MediaBrowser</title>
</head>
<body class="page">
<div class="header-wrapper home-header-wrapper">
    <div class="header">
        <a class="link-none logo" href="/">
            <img src="media/logo.png" class="logo-image">
            <p class="logo-name">MediaBrowser</p>
        </a>
        <div class="account">
            {% if isAdmin %}
                <a class="nav-link link-none" href="#">Administration</a>
            {% endif %}
            {% if isUser %}
                <a class="nav-link link-none" href="/users/store">My Media</a>
            {% endif %}
            {% if isLogin %}
                <img src="media/profile_default.png" class="profile-photo">
            {% else %}
                <a class="link-none row" href="/login/">
                    <p class="login">Log In</p>
                    <i class="fa-solid fa-arrow-right-to-bracket login-icon"></i>
                </a>
            {% endif %}
        </div>
    </div>
    <div class="headline">
        <p class="title">Stunning royalty-free images & royalty-free stock</p>
        <p class="subtitle">Over 4.4 million+ high quality stock images shared by our talented community.</p>
    </div>
    <form class="search" id="searchForm">
        <input class="search-input" placeholder="search..." id="searchInput" type="search" name="searchInput">
        <button class="search-btn" type="submit">
            <i class="fa-solid fa-magnifying-glass"></i>
        </button>
    </form>
    <div class="tags">
        {% forEach tags %}
            <a class="tag link-none {?isSelected?}" href="/?{{tagsQuery}}{?id?}{{searchQuery}}">{?name?}</a>
        {% endforEach %}
    </div>
</div>
<div class="home-content">
    <div class="images">
        {% forEach images %}
            <a href="/images/{?id?}">
                <img src="media/images/{?media?}" class="image" alt="">
            </a>
        {% endforEach %}
    </div>
    <div class="pagination">
        <a class="page-link">
            <i class="fa-solid fa-arrow-left page-link-text"></i>
        </a>
        <a class="page-link">
            <p class="page-link-text">3</p>
        </a>
        <a class="page-link">
            <p class="page-link-text">4</p>
        </a>
        <a class="page-link">
            <p class="page-link-text">5</p>
        </a>
        <a class="page-link">
            <p class="page-link-text">6</p>
        </a>
        <a class="page-link">
            <p class="page-link-text">7</p>
        </a>
        <a class="page-link">
            <i class="fa-solid fa-arrow-right page-link-text"></i>
        </a>
    </div>
</div>
<div class="footer">
    <div class="logo-wrapper">
        <div class="logo">
            <img src="media/logo.png" class="logo-image">
            <p class="logo-name">MediaBrowser</p>
        </div>
    </div>
    <div class="copy-rights-wrapper">
        <p class="copy-rights">&copy; MediaBrowser 2024. All rights reserved.</p>
    </div>
    <div class="follow-us-wrapper">
        <p class="follow-us">
            follow us |
            <i class="fa-brands fa-square-facebook"></i>
            <i class="fa-brands fa-square-instagram"></i>
            <i class="fa-brands fa-square-x-twitter"></i>
            <i class="fa-brands fa-square-pinterest"></i>
        </p>
    </div>
</div>

<script>
    const searchINP = document.getElementById("searchInput");
    const queryParams = new URLSearchParams(window.location.search);
    if (queryParams.get("search"))
        searchINP.value = queryParams.get("search");

    document.getElementById("searchForm").addEventListener("submit", event => {
        event.preventDefault();
        
        const searchTerm = searchINP.value;
        let newUrl = window.location.origin + window.location.pathname;

        if (searchTerm.length)
            newUrl = `${newUrl}?search=${encodeURIComponent(searchTerm)}`;
        if (queryParams.get("tags") && searchTerm.length)
            newUrl = `${newUrl}&tags=${queryParams.get("tags")}`;
        else if (queryParams.get("tags"))
            newUrl = `${newUrl}?tags=${queryParams.get("tags")}`;

        window.location.href = newUrl;
    });
</script>

</body>
</html>