<!DOCTYPE html>
<html lang="en">
<head>
    <link href="../styles.css" rel="stylesheet">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Sign In</title>
</head>
<body class="page login-page">
<a class="logo link-none" href="/">
    <img src="../media/logo.png" class="logo-image">
    <p class="logo-name">MediaBrowser</p>
</a>
<div class="login-wrapper">
    <p class="main-header {% if error %}main-header-bottom{% endif %}">Sign In</p>
    {% if error %}
        <p class="error">Either the password or the email is invalid!</p>
    {% endif %}

    <form class="login-form" action="/login/" method="POST">
        <label class="login-lbl" for="emailInput">Email</label>
        <input class="login-inp" placeholder="Enter here your email..." id="emailInput" type="email" name="email">
        <label class="login-lbl" for="passwordInput">Password</label>
        <input class="login-inp" placeholder="Enter here your password..." id="passwordInput" type="password" name="password">
        <button class="login-btn">Sign In</button>
    </form>
    <p class="login-switch">
        New to MediaBrowser? 
        <a class="login-switch-link link-none" href="/registration/">
            Create an account
        </a>
    </p>
</div>
</body>
</html>