<!DOCTYPE html>
<html lang="en">
<head>
    <link href="../styles.css" rel="stylesheet">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Photo</title>
</head>
<body class="page">
<div class="header-wrapper photo-header-wrapper">
    <div class="header">
        <a class="logo link-none" href="/">
            <img src="../media/logo.png" class="logo-image">
            <p class="logo-name">MediaBrowser</p>
        </a>
        <div class="account">
            {% if isAdmin %}
                <a class="nav-link link-none" href="#">Administration</a>
            {% endif %}
            {% if isUser %}
                <a class="nav-link link-none" href="/users/store">My Media</a>
            {% endif %}
            {% if isLogin %}
                <a class="link-none" href="/users/profile">
                    <img src="../media/profile_default.png" class="profile-photo">
                </a>
            {% else %}
                <a class="link-none row" href="/login/">
                    <p class="login">Log In</p>
                    <!-- <i class="fa-solid fa-arrow-right-to-bracket login-icon"></i> -->
                </a>
            {% endif %}
        </div>
    </div>
    <form class="photo-search" id="searchForm">
        <input class="search-input" id="searchInput" placeholder="search..." type="search" name="searchInput">
        <button class="search-btn"></button>
            <img src="../media/search.png" width="40" height="40">
            <!-- <i class="fa-solid fa-magnifying-glass"></i> -->
        </button>
    </form>
</div>
<div class="photo-content">
    <div class="photo-picture">
        <img class="photo-img" src="../media/images/{{image}}" alt="">
    </div>
    <div class="photo-panel">
        <a class="photo-panel-download-btn link-none" href="/images/download/{{id}}">Download</a>
        {% if isUser %}
            <div class="photo-panel-actions">
                <a class="photo-panel-action link-none {{liked}}" href="/images/like/{{id}}">
                    <!-- <i class="fa-regular fa-heart"></i> -->
                    Likes: {{likes}}
                </a>
                <a class="photo-panel-action photo-panel-action-color link-none" href="/images/save/{{id}}">
                    <!-- <i class="fa-regular fa-bookmark"></i> -->
                    Save
                </a>
            </div>
        {% endif %}
        <!-- <div class="photo-panel-user">
            <img class="photo-panel-img" src="../media/profile_default.png" alt="">
            <p class="photo-panel-name">Helmut Becker</p>
        </div> -->
        <p class="photo-panel-description">
            {{name}}
            <br/>
            <i>{{desc}}</i>
        </p>
    </div>
</div>
<div class="footer">
    <div class="logo-wrapper">
        <div class="logo">
            <img src="../media/logo.png" class="logo-image">
            <p class="logo-name">MediaBrowser</p>
        </div>
    </div>
    <div class="copy-rights-wrapper">
        <p class="copy-rights">&copy; MediaBrowser 2024. All rights reserved.</p>
    </div>
    <div class="follow-us-wrapper">
        <!-- <p class="follow-us">
            follow us |
            <i class="fa-brands fa-square-facebook"></i>
            <i class="fa-brands fa-square-instagram"></i>
            <i class="fa-brands fa-square-x-twitter"></i>
            <i class="fa-brands fa-square-pinterest"></i>
        </p> -->
    </div>
</div>

<script>
    const searchINP = document.getElementById("searchInput");

    document.getElementById("searchForm").addEventListener("submit", event => {
        event.preventDefault();
        
        const searchTerm = searchINP.value;
        let newUrl = window.location.origin + "/";

        if (searchTerm.length)
            newUrl = `${newUrl}?search=${encodeURIComponent(searchTerm)}`;

        window.location.href = newUrl;
    });
</script>

</body>
</html>