<!DOCTYPE html>
<html lang="en">
<head>
    <link href="../styles.css" rel="stylesheet">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <script src="https://kit.fontawesome.com/370e61c9c8.js" crossorigin="anonymous"></script>
    <title>Sign Up</title>
</head>
<body class="page login-page">
<a class="logo link-none" href="http://localhost:5010/">
    <img src="../media/logo.png" class="logo-image">
    <p class="logo-name">MediaBrowser</p>
</a>
<div class="login-wrapper">
    <p class="main-header {% if error %}main-header-bottom{% endif %}">Sign In</p>
    {% if error %}
        <p class="error">Either the password or the email is invalid!</p>
    {% endif %}
     
    <form class="login-form" action="http://localhost:5010/registration/" method="POST">
        <label class="login-lbl" for="emailInput">Email</label>
        <input class="login-inp" placeholder="Enter here your email..." id="emailInput" type="email" name="email">
        <label class="login-lbl" for="passwordInput1">Password</label>
        <input class="login-inp" placeholder="Enter here your password..." id="passwordInput1" type="password" name="password1">
        <label class="login-lbl" for="passwordInput2">Password (again)</label>
        <input class="login-inp" placeholder="Enter here your password again..." id="passwordInput2" type="password" name="password2">
        <button class="login-btn" type="submit">Sign Up</button>
    </form>
    <p class="login-switch">
        Already have an account? 
        <a class="login-switch-link link-none" href="http://localhost:5010/login/">
            Sign in
        </a>
    </p>
</div>
</body>
</html>